<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Kaçmazlar Lojistik</a>
      </li>
      <li>
        <a href="/transportations"> <span class="glyphicon glyphicon-road"></span> Sevkiyatlar</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Tanım Sayfaları<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/drivers">Şöförler</a></li>
            <li><a href="/firms">Firmalar</a></li>
            <li><a href="/locations">Yerler</a></li>
            <li><a href="/products">Ürünler</a></li>
            <li><a href="/wastage_costs">Fire Bedelleri</a></li>
            <li><a href="/cmr_prices">CMR Bedelleri</a></li>
            <li><a href="/transport_fees">Taşıma Ücretleri</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/"><span class="glyphicon glyphicon-user"></span> Kullanıcı Girişi</a>
      </li>
    </ul>
  </div>
</nav>
