<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.ejs %>
</head>
<body>
  <% include partials/nav.ejs %>
  <table id="drivers" class="display" cellspacing="0">
    <thead>
    <tr>
      <th>Adı</th>
      <th>Soyadı</th>
      <th>Kimlik Numarası</th>
      <th>Ana Adı</th>
      <th>Baba Adı</th>
      <th>Doğum Yeri</th>
      <th>Telefon Numarası</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <th>Adı</th>
      <th>Soyadı</th>
      <th>Kimlik Numarası</th>
      <th>Ana Adı</th>
      <th>Baba Adı</th>
      <th>Doğum Yeri</th>
      <th>Telefon Numarası</th>
    </tr>
    </tfoot>
  </table>
</body>
</html>
