<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
  <script src="javascripts/drivers.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='https://cdn.datatables.net/1.10.7/css/jquery.dataTables.css' />
  <title></title>
</head>
<body>
  <table id="drivers" class="display" width="100%" cellspacing="0">
    <thead>
    <tr>
      <th>Adı</th>
      <th>Soyadı</th>
      <th>Kimlik Numarası</th>
      <th>Ana Adı</th>
      <th>Baba Adı</th>
      <th>Doğum Yeri</th>
      <th>Telefon Numarası</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <th>Adı</th>
      <th>Soyadı</th>
      <th>Kimlik Numarası</th>
      <th>Ana Adı</th>
      <th>Baba Adı</th>
      <th>Doğum Yeri</th>
      <th>Telefon Numarası</th>
    </tr>
    </tfoot>
  </table>
</body>
</html>