<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.ejs %>
  <% if (user.role == 'admin' || user.role == 'ops') { %>
  <script src="javascripts/drivers.js"></script>
  <% } else { %>
  <script src="javascripts/drivers-obs.js"></script>
  <% } %>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
  <table id="drivers" class="display" cellspacing="0">
    <thead>
    <tr>
      <th>Sıra No</th>
      <th>Adı</th>
      <th>Soyadı</th>
      <th>Kimlik Numarası</th>
      <th>Ana Adı</th>
      <th>Baba Adı</th>
      <th>Doğum Yeri</th>
      <th>Doğum Tarihi</th>
      <th>Telefon Numarası</th>
      <th>Gümrük İzni?</th>
      <th>Ehliyet?</th>
    </tr>
    </thead>
  </table>
</div>
</body>
</html>
