<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.ejs %>
  <script src="javascripts/firms-obs.js"></script>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
  <table id="firms" class="display" cellspacing="0">
    <thead>
    <tr>
      <th>Ad</th>
      <th>Adres</th>
      <th>Telefon</th>
      <th>C2 Sahibi?</th>
      <th>Ruhsat Sahibi?</th>
      <th>Taşeron?</th>
    </tr>
    </thead>
  </table>
</div>
</body>
</html>
