<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.ejs %>
  <script src="javascripts/locations.js"></script>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
  <table id="locations" class="display" cellspacing="0">
    <thead>
    <tr>
      <th>Ad</th>
      <th>Ülke</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>Ad</th>
      <th>Ülke</th>
    </tr>
    </tfoot>
  </table>
</div>
</body>
</html>
