<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.ejs %>
  <script src="javascripts/payments.js"></script>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
  <table id="payments" class="display" cellspacing="0">
    <thead>
    <tr>
      <th>Firma</th>
      <th>Ödenen</th>
      <th>Ödenecek</th>
      <th>Toplam Ödeme</th>
      <th>Alınan</th>
      <th>Alınacak</th>
      <th>Toplam Gelir</th>
    </tr>
    </thead>
  </table>
</div>
</body>
</html>