<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.ejs %>
  <script src="javascripts/paymentDetails.js"></script>
</head>
<body>
<% include partials/nav.ejs %>
<select name="firm" id="firm"></select>
<div class="container">
  <table id="paymentDetails" class="display" cellspacing="0">
    <thead>
    <tr>
      <th>Ay</th>
      <th>Ödenen</th>
      <th>Ödenecek</th>
      <th>Toplam Ödeme</th>
      <th>Alınan</th>
      <th>Alınacak</th>
      <th>Toplam Gelir</th>
    </tr>
    </thead>
  </table>
</div>
</body>
</html>