<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.ejs %>
  <script src="javascripts/products.js"></script>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
  <table id="products" class="display" cellspacing="0">
    <thead>
    <tr>
      <th>Ürün Cinsi</th>
      <th>Kabul Edilir Fire Miktarı</th>
      <th>Kabul Edilir Fire Oranı (miktar belirtilirse geçersizdir)</th>
      <th>Fire Cezası Birim Fiyatı</th>
    </tr>
    </thead>
  </table>
</div>
</body>
</html>
