<!DOCTYPE html>
<html>
<head>
  <% include partials/header.ejs %>
  <% if (user.role == 'admin') { %>
  <script src="javascripts/shipments.js"></script>
  <% } else if (user.role == 'customs') { %>
  <script src="javascripts/shipments-customs.js"></script>
  <% } else if (user.role == 'field') { %>
  <script src="javascripts/shipments-field.js"></script>
  <% } else { %>
  <script src="javascripts/shipments-obs.js"></script>
  <% } %>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
  <table id="shipments" class="display" width="100%" cellspacing="0">
    <thead>
    <tr>
      <th>Yükleme Tarihi</th>
      <th>Gümrüğe Giriş Tarihi</th>
      <th>Gümrükten Çıkış Tarihi</th>
      <th>Boşaltma Tarihi</th>
      <th>Firma Adı</th>
      <th>Çekici Plakası</th>
      <th>Dorse Plakası</th>
      <th>Şöför Adı Soyadı</th>
      <th>Ürün Cinsi</th>
      <th>Yükleme Yeri</th>
      <th>Boşaltım Yeri</th>
      <th>CMR Tarihi</th>
      <th>CMR No</th>
      <th>Yükleme Tonajı</th>
      <th>Gümrük Tonajı</th>
      <th>Boşaltım Tonajı</th>
      <th>Gümrük Fire Hakkı</th>
      <th>Gümrük Firesi</th>
      <th>Gümrük Fire Fiyatı</th>
      <th>Gümrük Cezası</th>
      <th>Ürün Fire Hakkı</th>
      <th>Ürün Firesi</th>
      <th>Ürün Fire Fiyatı</th>
      <th>Ürün Cezası</th>
      <th>CMR Bedeli</th>
      <% if (user.role == 'admin') { %>
      <th>Nakliye Fiyatı</th>
      <th>Nakliye Tutarı</th>
      <th>Net Hakediş Tutarı</th>
      <th>Hakediş Tarihi</th>
      <th>Navlun Fiyatı</th>
      <th>Navlun Tutarı</th>
      <% } %>
    </tr>
    </thead>
  </table>
</div>
</body>
</html>
