<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.ejs %>
  <script src="javascripts/subcontractorTransportFees.js"></script>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
  <table id="subcontractor_transport_fees" class="display" cellspacing="0">
    <thead>
    <tr>
      <th>Firma</th>
      <th>Ürün Cinsi</th>
      <th>Nereden</th>
      <th>Nereye</th>
      <th>Birim Fiyatı</th>
    </tr>
    </thead>
  </table>
</div>
</body>
</html>
