<!DOCTYPE html>
<html>
<head>
  <% include partials/header.ejs %>
  <script src="javascripts/transportations.js"></script>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
  <table id="transportations" class="display" width="100%" cellspacing="0">
    <thead>
    <tr>
      <th>Yükleme Tarihi</th>
      <th>Boşaltma Tarihi</th>
      <th>Firma Adı</th>
      <th>Çekici Plakası</th>
      <th>Dorse Plakası</th>
      <th>Şöför Adı Soyadı</th>
      <th>Yükleme Yeri</th>
      <th>Boşaltım Yeri</th>
      <th>CMR Tarihi</th>
      <th>CMR No</th>
      <th>Ürün Cinsi</th>
      <th>Yükleme Tonajı</th>
      <th>Gümrük Tonajı</th>
      <th>Boşaltım Tonajı</th>
      <th>Fire Hakkı</th>
      <th>Gümrük Firesi</th>
      <th>Ürün Firesi</th>
      <th>Gümrük Fire Fiyatı</th>
      <th>Ürün Fire Fiyatı</th>
      <th>Gümrük Cezası</th>
      <th>Ürün Cezası</th>
      <th>CMR Bedeli</th>
      <th>Nakliye Fiyatı</th>
      <th>Nakliye Tutarı</th>
      <th>Net Hakediş Tutarı</th>
      <th>Hakediş Tarihi</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>Yükleme Tarihi</th>
      <th>Boşaltma Tarihi</th>
      <th>Firma Adı</th>
      <th>Çekici Plakası</th>
      <th>Dorse Plakası</th>
      <th>Şöför Adı Soyadı</th>
      <th>Yükleme Yeri</th>
      <th>Boşaltım Yeri</th>
      <th>CMR Tarihi</th>
      <th>CMR No</th>
      <th>Ürün Cinsi</th>
      <th>Yükleme Tonajı</th>
      <th>Gümrük Tonajı</th>
      <th>Boşaltım Tonajı</th>
      <th>Fire Hakkı</th>
      <th>Gümrük Firesi</th>
      <th>Ürün Firesi</th>
      <th>Gümrük Fire Fiyatı</th>
      <th>Ürün Fire Fiyatı</th>
      <th>Gümrük Cezası</th>
      <th>Ürün Cezası</th>
      <th>CMR Bedeli</th>
      <th>Nakliye Fiyatı</th>
      <th>Nakliye Tutarı</th>
      <th>Net Hakediş Tutarı</th>
      <th>Hakediş Tarihi</th>
    </tr>
    </tfoot>
  </table>
</div>
</body>
</html>
