<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.ejs %>
  <script src="javascripts/users.js"></script>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
  <table id="users" class="display" cellspacing="0">
    <thead>
    <tr>
      <th>Ad</th>
      <th>Rol</th>
      <th>Şifre</th>
    </tr>
    </thead>
  </table>
</div>
</body>
</html>
