<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.ejs %>
  <script src="javascripts/vehicles.js"></script>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
  <table id="vehicles" class="display" cellspacing="0">
    <thead>
    <tr>
      <th>Araç Türü</th>
      <th>Plaka</th>
      <th>Araç Sahibi</th>
      <th>Ruhsat Sahibi</th>
      <th>C2 Sahibi</th>
    </tr>
    </thead>
  </table>
</div>
</body>
</html>
